.bpImg {
    width: 750px;
    height: 450px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.bpHeader {
    text-align: center;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0px 4px 3px pink,
             0px 8px 13px pink,
             0px 18px 23px pink;
}

