.fptitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
}

body {
    background-color:#8E9AAF  ;
}